<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="writer_users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", [:writer, user] %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_writer_user_path %>
